{% extends "base.html" %}
{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
<div class="center">
  <h1>my-money</h1>
  <section>
    <input #username type="text" name="username" placeholder="E-mail">
    <br />
    <input #password type="password" name="password" placeholder="Password">
    <br />
    <button type="button" role="button">Login</button>
  </section>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
</div>
{% endblock %}