{% extends "base.html" %}
{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
<div class="center">
    <h1>my-money</h1>
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="email" id='email' placeholder="E-mail">
        <br />
        <input type="password" name="password" id='password' placeholder="Password">
        <br />
        <button type="submit" role="button">Login</button>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</div>
{% endblock %}